.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    height: 400px;
}

.footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer div span {
    font-weight: 100;
    font-size: 15px;
    line-height: 84px;
    color: #8a8989;
}

.rights {
    color: #8a8989;
}



.footer div span{
    cursor: pointer;
}

.footer div span:hover {
    color: white;
}

.footer div span svg {
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer {
        /* grid-template-columns: 1fr 1fr; */
        height: auto;
    }
    .footer div h3 {
        margin: 0;
        font-size: 18px;
        /* line-height: 4; */
    }

    .footer div span {
        line-height: 3;
        
    }
}