.user-profile {
  padding: 20px;
}

.user-info {
  padding: 16px;
  margin: 10px;
  height: 180px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.edit {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 28px;
    top: 18px;
    cursor: pointer;
}

@media (max-width:786px) {
  .user-info {
    height: 120px;
  }

  .user-info img {
    height: 120px;
  }

  .details h3 {
    margin: 2px;
  }
}